html,
body {
font-family: 'Poppins', sans-serif;}

* {
margin: 0;
padding: 0;
}

header {
padding: 8px 0 8px;
position: absolute;
width: 100%;
z-index: 99;
top: 0;
}
.new-file-line h2 {
font-size: 20px;
color: #000;
font-weight: 700;
}
.name img {
width: 11px;
}
.newdata{
justify-content: space-between;
padding: 24px 5px;
}
.align_data {
text-align: center;
}
.line_element {
width: 90%;
text-align: center;
margin-left: 29px;
}
.line_element p {
font-size: 20px;
font-weight: 700;
}
.new-file-line h2 {
font-size: 17px;
color: #ff0000;
font-weight: 600;
}
h3.spain_line {
color: #56da08;
font-size: 16px;
}
.fine_line {
text-align: center;
}
.fine_line p {
margin-bottom: 0;
}
.fine_line h5 {
color: #000;
font-weight: 700;
}
.veg {
box-shadow: 0px 0px 57.66px 4.34px rgb(0 1 1 / 10%), inset 0px 0px 19.68px 4.32px rgb(0 0 0 / 11%);
padding: 12px;
margin: 48px 0;
border-radius: 25px;
display: flex;
padding: 12px 13px;
min-height: 170px;
    background-color: #fff!important;

}
span.green {
width: 10px;
height: 10px;
background-color: green;
display: inline-block;
border-radius: 100%;
margin-right: 7px;
}

span.red {
width: 10px;
height: 10px;
background-color: red;
display: inline-block;
border-radius: 100%;
margin-right: 7px;
}


.d-flex.vegetable {
align-items: center;
}
.line_item {
box-shadow: 0px 0px 57.66px 4.34px rgb(0 1 1 / 10%), inset 0px 0px 19.68px 4.32px rgb(0 0 0 / 11%);
width: 158px;
height: 123px;
border-radius: 32px;
text-align: center;


}
.d-flex.lines p {
font-size: 12px;
}

.d-flex.lines {
flex-direction: column;
width: 100%;

}
button {
background-image: linear-gradient(#ff0000, #980505);
border: 0;
padding: 4px 5px;
border-radius: 100px;
font-size: 15px;
color: #fff;
width: 73px;
text-transform: uppercase;
line-height: 20px;
font-weight: 600;
}
.d-flex.lines h3 {
font-size: 14px;
}
span.instruction {
font-size: 15px;
color: #fe0404;
font-weight: 600;
}
h4.semi-blold {
    font-weight: 600;
    font-size: 14px;
}
.line-event {
    font-size: 13px;
    font-weight: 400;
}
/*input#demoInput {
      border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 24.65px 4.35px rgb(0 1 1 / 10%);
    border: 0;
    width: 34px;
    height: 31px;
    margin: 2px 10px;
    font-size: 18px;
    text-align: center;
    color: #ff0000;
    font-weight: 600;
}*/
input.no_of_item {
      border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 24.65px 4.35px rgb(0 1 1 / 10%);
    border: 0;
    width: 34px;
    height: 31px;
    margin: 2px 10px;
    font-size: 18px;
    text-align: center;
    color: #ff0000;
    font-weight: 600;
}
button.small-b{
     
    width: 24px!important;
    height: 25px;
    display: inline-block;
    border-radius: 6px!important;
    line-height: 13px;
    text-align: center;
    padding: 5px 0;

}
.d-flex.button_line {
    align-items: center;
    justify-content: center;
}
textarea {
      height: 100px;
    width: 100%;
    border-radius: 15px;
    padding: 12px 15px;
    color: #c3c3c3;
    resize: none;
    border:1px solid #b6b6b6;;
}
textarea::placeholder{
        color: #c3c3c3;

}
.words_new {
    margin-left: auto;
    text-align: right;
}
span.words {
    font-size: 17px;
    color: #5b5a5a;
    font-weight: 500;
}
.trip h3 {
    font-size: 17px;
    font-weight: 600;
}
.d-flex.trip {
    align-items: center;
    justify-content: space-between;
}
.line_view.box {
    display: flex;
    justify-content: space-between;
}
.line_view.box p {
    color: #2c2a2a;
    font-size: 17px;
    font-weight: 500;
        margin-bottom: 0;

}
.first_idiot {
    border: 1px solid #ccc;
    padding: 5px 14px;
    border-radius: 12px;
    margin-top: 14px;
}
.line_view.box h3 {
    font-size: 16px;
    font-weight: 500;
}
.line_view.box.last h3, .line_view.box.last p {
    font-weight: 600;
    color: green;
}
h3.bill {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0;
}
.first_idiot.wrapper {
    margin-top: 9px;
}
button.button_large {
    width: 200px;
    height: 53px;
    margin-top: 23px;
    font-size: 21px;
    font-weight: 300;
    text-transform: capitalize;
}
.new_div {
   background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    height: 100%;
}
.heading {
     text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 87.55px 15.45px rgb(255 0 18 / 11%);
    width: 270px;
    margin: auto;
    height: 69px;
    line-height: 69px;
    border-radius: 14px;
        margin-bottom: 82px;

}
.placed {
    font-size: 21px;
    text-align: center;
}
button.button_large.closee {
    margin-bottom: 37px;
}