.view {
  
          padding: 5px 11px!important;

    padding: 5px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 6%), 0 6px 20px 0 rgb(0 0 0 / 6%);
      background-image: linear-gradient(
180deg
,#ed2227 10%,#5e0202 100%);
     border: 0;
}
#dataTable_wrapper .col-sm-12 {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}
.button_bottom{
    width: 122px;
    margin: auto;
    margin-top: 16px;
    font-size: 15px!important;
    padding: 8px 0!important;
     background-image: linear-gradient(
180deg
,#ed2227 10%,#5e0202 100%);
     border: 0;
}
form.user .form-control-user {

    padding: 1.2rem 1rem;
        line-height: normal;

}
.text-center.Restaurant {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
select.form-control {
    border-radius: 30px;
    font-size: 13px;
    height: 42px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.earning .form-control {
    border-radius: 30px;
    font-size: 13px;
    height: 42px;
}
i.fas.fa-calendar.fa-1x.text-gray-300 {
    position: absolute;
    right: 17px;
    top: 46px;
}

.user.earning .form-group {
    position: relative;
}
.sidebar-brand-text.mx-3 img {
    background-color: #fff;
    border-radius: 2px;
/*       box-shadow: 3px 3px 5px #690404;
*/       width: 130px;

}
.sidebar .sidebar-brand {
    height: 8.375rem;
}
.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(
180deg
,#ed2227 10%,#5e0202 100%);
    background-size: cover;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
      margin-bottom: 21px;

}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #c5191c;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.wrapper_breadcrumbs {
    display: flex;
        align-items: unset;

    justify-content: space-between;
}
.btn-primary,.btn-primary:hover,.btn-primary:active {
    color: #fff;
    background-color: #ec2126!important;
    border-color: #e82025!important;
        box-shadow: none!important;

}
.bg-login-image {
    background-image: url(../img/f1.jpg)!important;
    background-size:cover;
}

.bg-password-image-1{
 background-image: url(../img/f2.jpg)!important;
    background-size:cover;
}
div#dataTable_length {
    display: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
.checked {
  color: orange;
}
.small {
    color: #ec2126;
}
.small:hover {
    color: #ec2126;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #8e0c0e;
    border-color: #890b0d;
}
.toggled .sidebar-brand-text.mx-3 img {
    background-color: #fff;
    border-radius: 2px;
    /* box-shadow: 3px 3px 5px #690404; */
    width: 88px;
}
.card.border-left-warning.shadow.h-100.py-2.no-padding-first {
    padding: 2px!important;
}
h1.h3.mb-2.text-gray-800 {
    margin-top: 4px;
}
td.active.day{
	 background-image: linear-gradient(
180deg
,#ed2227 10%,#5e0202 100%)!important;
}
.table td, .table th {
    vertical-align: middle;
    }
    form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
    margin-top: 23px;
        font-weight: 700;

}
label {
    color: #7b7d8f;
}
#dataTable_wrapper td:last-child,
#dataTable_wrapper th:last-child
 {
    text-align: center!important;

}
#dataTable_wrapper th:last-child:before,
#dataTable_wrapper th:last-child:after
 {
    display: none!important;

}
.navbar-search input.form-control.bg-light.border-0.small {
    color: unset!important;
}
.form-control:focus {
    box-shadow: none;
}
.text-center .small {
    font-weight: 600;
}
.text-center.linwe img {
    cursor: pointer;
        border-radius: 5px;

}
.liner img{
	border-radius: 5px;
}
#dataTable img {
    border-radius: 3px;
}
.form-control:placeholder{
color: red!important;
}
button.close {
    display: none;
}
#accordionSidebar i.fas.fa-money-bill-wave {
    font-size: 11px!important;
    margin-right: 2px!important;
}
#accordionSidebar i.fas.fa-fw.fa-table {
   /*font-size: 13px;*/
    margin-right: -1px;
    position: relative;
    right: 4px;

}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #e42024;
}
form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search {
    display: none!important;
}
.text-center.liner,.text-center.linwe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form.user img {
    border-radius: 5px;
}
.img_line {
    width: 200px;
}
@media(max-width: 1250px){
	.text-center.linwe img,.text-center.liner img{
		margin-bottom: 8px;
	}
}
@media (min-width: 768px){
.sidebar.toggled .sidebar-brand .sidebar-brand-text {
    display: block;
}
}